@use "base/variables" as v;
@use "base/mixins" as m;

.boton{
    @include m.boton(v.$blanco, v.$negro);

}
.boton-eliminar{
    @include m.boton(v.$rojo, v.$blanco);


}
.boton-confirmar{
    @include m.boton(v.$verdeClaro, v.$blanco);


}
