@use 'base/variables' as v;
@use 'base/mixins' as m;


.listado-servicios{
    display: grid;
    gap: 2rem;

    @include m.tablet{
        @include m.grid(2, 2rem);
    }

    .servicio{
        background-color: v.$negro;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid v.$blanco;
        transition-property:  transform;
        transition-duration: 300ms;
        text-align: center;

        &.seleccionado{
            background-color: rgb(244, 247, 250);
            p{
                color: v.$negro;
            }
        }

        &:hover{
            transform: scale(1.1);
        }

        p{
            color: v.$blanco;
            margin: 0 0 2rem 0;
            
        }

        .precio-servicio{
            color: rgb(255, 255, 255);
            font-weight: v.$bold;
            font-size: 2rem;
            margin: 0;
        }
    }
}


.tasa{
    .tasa-bolivar{
        background-color: v.$negro;
        text-align: center;
        padding: 1rem;
        margin: 0;
        color: v.$verdeClaro;
        font-weight: v.$bold;
    }

    .boton{
        margin-top: 2rem;
    }
}




