@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenedor-app{
    position: relative;
    
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
}

.app{
    width: 95%;
    margin: 0 auto;
    padding: 3rem;
    
    // Asegurar que el contenido esté en la segunda columna
    @include m.tablet{
        grid-column: 2;
    }
}

.video-alt {
    position: relative;
    width: 100%;
    min-height: 40vh;
    max-height: 70vh;
    overflow: hidden;

    @include m.tablet{
        grid-column: 1;
        min-height: 100vh;
        max-height: none;
    }

    @include m.desktop {
        width: 90%; // Reduce el ancho al 70%
        margin: 0 auto; // Centra el video reducido
        max-height: 80vh; // Opcional: reducir altura máxima
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.barra-servicios{
    margin-bottom: 2rem;

    @include m.tablet{
        display: flex;
        justify-content: space-evenly;

    }

    .boton{
        margin: 1rem 0 1rem 0;
    }
}